.portfolio-thumbnail {
    padding: 15px 0px;
    position: relative;
}
.portfolio-thumbnail img {
    width: 100%;
    border-radius: 15px;
    transition: .5s ease;
}
.portfolio-thumbnail .disc{
    position: absolute;
    opacity: 0;
    top: 0px;
    text-align: center;
    padding: 40px 15px 0px 15px;
    color: #31849b;
    transition: .5s ease;
}
.portfolio-thumbnail:hover img {
    opacity: 0.2;
}
.portfolio-thumbnail:hover .disc {
    opacity: 1;
}
.myphoto {
    padding: 15px 0px;
}
.myphoto img {
    width: 100%;
    border-radius: 50%;
}
.header {
    position: relative;
}
.myintro {
    color: #31849b;
    padding: 15px 0px 0px 0px;
/*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}
.navbar {
    padding: 15px 0px 0px 0px;
/*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}
ul {
    list-style-type: none;
    padding: 15px 0px 0px 0px;
/*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}
li a {
    display: block;
    color: #31849b;
    padding: 2px 8px;
}
li a.active {
    background-color: #31849b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
li a:hover:not(.active) {
    background-color: #d8edf3;
    color: #31849b;
    text-decoration: none;
    border-radius: 5px;
}
.resume img {
    width: 100%;
}